<template>
  <div style="margin-right: 12px">
    <a-space>
      <a-dropdown>
        <template #overlay>
          <a-menu>
            <a-menu-item>
              <template #icon>
                <SettingOutlined />
              </template>
              <span>个人设置</span>
            </a-menu-item>
            <a-menu-item>
              <template #icon>
                <LogoutOutlined />
              </template>
              <span>退出登录</span>
            </a-menu-item>
          </a-menu>
        </template>
        <div class="currentUser-info">
          <span><a-image :src="currentUser?.avatar"></a-image></span>
          {{ currentUser?.name }}
        </div>
      </a-dropdown>
    </a-space>
  </div>
</template>

<script setup lang="ts">
import { Image } from 'ant-design-vue';
import { UserOutlined, SettingOutlined, LogoutOutlined, BgColorsOutlined } from '@ant-design/icons-vue';
import { computed } from 'vue';
const currentUser = computed(()=> {
  return JSON.parse(window.localStorage.getItem("userInfo"))
})


</script>
<style lang="less">
  .currentUser-info span{
      width: 40px;
      height: 40px;
      display: inline-block;
      overflow: hidden;
      border-radius: 50%;
      img{
        width: 100%;
        height: 100%;
      }
  }
</style>
