<template>
  <div class="loginContainer">
    <div class="loginLeft">
      <img src="@/assets/logins.png" alt="" />
    </div>
    <div class="loginRight">
      <h1 style="margin-top: 300px">系统登录</h1>
      <a-form :model="userForm" @finish="onFinish" style="margin-top: 20px">
        <a-form-item
          label="用户名"
          name="name"
          style="width: 600px"
          :rules="[{ required: true, message: '请输入用户名!' }]"
        >
          <a-input v-model:value="userForm.name" />
        </a-form-item>

        <a-form-item
          label="密码"
          name="password"
          style="width: 600px"
          :rules="[{ required: true, message: '请输入密码!' }]"
        >
          <a-input-password v-model:value="userForm.password" />
        </a-form-item>

        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button type="primary" :loading="loginLoading" html-type="submit">登录</a-button>
        </a-form-item>
      </a-form>
    </div>
  </div>
</template>
<script setup lang="ts">
import { reactive, ref } from 'vue';
import { login } from '@/services/user';
import { useStorage } from '@vueuse/core';
import { useRouter } from 'vue-router';
const $router = useRouter();
const loginLoading = ref(false);
const userForm = reactive({
  name: '',
  password: '',
});
const onFinish = async (val: any) => {
  // console.log(process.env.VUE_APP_BASEURL);
  try {
    loginLoading.value = true;
    const { data } = await login(val);
    console.log(data);
    // useStorage('userInfo', data);
    window.localStorage.setItem("userInfo",JSON.stringify(data))
    $router.push('/');
  } catch (error) {
    console.log(error);
  } finally {
    loginLoading.value = false;
  }
};
</script>
<style lang="less">
.loginContainer {
  width: calc(100vw - 400px);
  height: calc(100vh - 100px);
  margin: 50px auto;
  background-color: #fff;
  display: flex;
  .loginLeft,.loginRight {
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
  }
}
.loginLeft img {
  text-align: center;
  width: 100%;
  height: 100%;
}
.loginRight {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f7fafb;
}
</style>