<template>
  <pro-layout
    v-model:collapsed="state.collapsed"
    v-model:selectedKeys="state.selectedKeys"
    v-model:openKeys="state.openKeys"
    :loading="loading"
    :breadcrumb="{ routes: breadcrumb }"
    :menu-data="menuData"
    disable-content-margin
    style="min-height: 100vh"
    iconfont-url="//at.alicdn.com/t/font_2804900_2sp8hxw3ln8.js"
    v-bind="proConfig"
  >
    <template #menuHeaderRender>
      <router-link :to="{ path: '/' }">
        <!-- <img src="https://alicdn.antdv.com/v2/assets/logo.1ef800a8.svg" /> -->
       <img src="../assets/top.png" alt="">
        <h1>八维创作后台</h1>
      </router-link>
    </template>
    <!-- 右上角 -->
    <template #rightContentRender>
      <RightContent  />
    </template>
    <!-- custom breadcrumb itemRender  -->
    <!-- 面包屑导航 -->
    <!-- <template #breadcrumbRender="{ route, params, routes }">
      <span v-if="routes.indexOf(route) === routes.length - 1">
        <HeartOutlined />
        {{ route.breadcrumbName }}
      </span>
      <router-link v-else :to="{ path: route.path, params }">
        <SmileOutlined />
        {{ route.breadcrumbName }}
      </router-link>
    </template> -->
    <!-- <SettingDrawer v-model="proConfig" /> -->
    <!-- <template #menuItemRender="{ item, icon }">
      <a-menu-item :key="item.path" :disabled="item.meta?.disabled" :danger="item.meta?.danger" :icon="icon">
        <router-link :to="{ path: item.path }">
          <span class="ant-pro-menu-item">
            <span class="ant-pro-menu-item-title">{{ item.meta.title }}</span>
          </span>
        </router-link>
      </a-menu-item>
    </template> -->




    <RouterView v-slot="{ Component, route }">
      <transition name="slide-left" mode="out-in">
        <component :is="Component" :key="route.path" />
      </transition>
    </RouterView>
  </pro-layout>
</template>

<script setup lang="ts">
import { useRouter, RouterView, RouterLink } from 'vue-router';
import { SmileOutlined, HeartOutlined } from '@ant-design/icons-vue';
import { Menu } from "ant-design-vue"
import authList from '@/auth/user.js'
import viewConfig from "@/views/view.config"
import notFoundVue from '@/views/notFound.vue';


const router = useRouter();
const filterMenuItem = (data) => data.filter(item=> item?.meta?.showMenuItem !== false);
// 导航路由
const addRoutes = routes => {
  routes.forEach(item => {
    const { name } = item;
    item.component = viewConfig[name] ? viewConfig[name] : notFoundVue;
    // 添加到路由表
    router.addRoute('index', item);
  })
}
const formatName = (val: string) => val.split("/").filter(v=>v).map((item,i) => i === 0 ? item : item[0].toUpperCase() + item.slice(1)).join('')
const menuItemChildren = (arr) => arr.map(({path,title,children}) => {
  const item = {
     path,
     name: formatName(path),
      meta: {
        title,
        icon: 'icon-icon-test',
      },
    }
    children && Array.isArray(children) && (item.children = menuItemChildren(children))
    return item
  });

const menuData = computed(()=>{
  const role = JSON.parse(window.localStorage.getItem("userInfo"))?.role;
  const curUserRole = authList.find(val => val.role === role);
  const viewsRole = menuItemChildren(curUserRole?.viewList)
  const baseUrl = filterMenuItem(router.getRoutes());
  addRoutes(viewsRole);
  const menuData =  [...baseUrl,...viewsRole]
  return menuData
})

const state = reactive<Omit<RouteContextProps, 'menuData'>>({
  collapsed: false, // default collapsed
  openKeys: [], // defualt openKeys
  selectedKeys: [], // default selectedKeys
});
const loading = ref(false);
const proConfig = ref({
  layout: 'side',
  navTheme: 'dark',
  fixedHeader: true,
  fixSiderbar: true,
});

</script>
