<template>
  <PageContainer>
    工作台页面
  </PageContainer>
</template>

<script lang="ts" setup>
import { message } from 'ant-design-vue';
import { PageContainer as PageContainer } from '@ant-design-vue/pro-layout';

const handleClick = () => {
  console.log('info');
  message.info('BackHome button clicked!');
};
</script>
